<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ESPN Weekly Accolades Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='accolades.css') }}">    
    </head>

<body>
<div class="page-wrapper">
   
      
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const toggleLeagueType = document.getElementById('toggleLeagueType');
        const privateInputs = document.getElementById('privateInputs');

        toggleLeagueType.addEventListener('change', function() {
            if (this.checked) {
                privateInputs.style.display = "block";
            } else {
                privateInputs.style.display = "none";
            }
        });
    });
</script>

<div class="container">
    <div class="toggle">
        <input class="toggle-checkbox" type="checkbox" id="toggleLeagueType">
        <label for="toggleLeagueType" class="toggle-switch"></label>
        <span class="toggle-label">Private League</span>
    </div>    

    <form action="/" method="post">
        Enter League ID: <input type="text" name="league_id">
        Enter Week: 
        <select name="week">
            {% for i in range(1, 18) %}
                <option value="{{ i }}" {% if i == current_week %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    
        <div id="privateInputs" style="display: none;">
            Enter SWID: <input class="wide-input" type="text" placeholder="{XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX}" name="swid">
            Enter espn_s2: <input class="wide-input" type="text" placeholder="ASCWDW..." name="espn_s2">
            <p>These values are extracted from your cookies after login. The easiest way to view them is using <a href="https://chrome.google.com/webstore/detail/espn-private-league-key-a/bakealnpgdijapoiibbgdbogehhmaopn/related" target="_blank" rel="noopener noreferrer">this chrome plugin</a>. The extension is <a href="https://github.com/abinish/ESPNExtension" target="_blank" rel="noopener noreferrer">open source</a>.</p>
        </div>
        
    
        <input type="submit" value="Get Accolades">
    </form>
</div>


{% with messages = get_flashed_messages(category_filter=["progress"]) %}
    {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
                <div class="flash-message">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}


{% if not cards_data %}
    <div id="instructions">
        <p>You can get your ESPN League ID in: "League" > "Settings" </p>
    </div>
{% endif %}


<div class="cards-wrapper">
    {% for card in cards_data %}
        <div class="card">
            <h2 class="card-title">{{ card.title }}</h2>
            {% if card.subtitle %}<p class="card-subtitle">{{ card.subtitle }}</p>{% endif %}

            <div class="content-row">  <!-- Container div for flexbox -->
                {% if card.image %}<img class="card-image" src="{{ card.image }}" alt="Image">{% endif %}
                <div class="card-content">
                    <p class="card-middle-text">{{ card.middle_text }}</p>
                    {% if card.middle_sub_text %}<p class="card-middle-subtext">{{ card.middle_sub_text }}</p>{% endif %}
                    {% if card.middle_sub_sub_text %}<p class="card-middle-sub-subtext">{{ card.middle_sub_sub_text }}</p>{% endif %}
                </div>
            </div>

            <span class="points">{{ card.points }}</span>
        </div>
    {% endfor %}
</div>
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="ivanchubb" data-description="If you like this, consider buying me a coffee ☕." data-message="" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
</div>

<footer>
    <div class="contact-info">
        <h2>Contact Info:</h2>
        <p>Source: <a href="https://github.com/ivanchubb/ff_espn_accolades">https://github.com/ivanchubb/ff_espn_accolades</a></p>
        <p>For bug reports or feature requests, feel free to create an issue at the above repository.</p>
    </div>
</footer>

</body>
</html>